
@{
                /**/

                <h2>Освоивте @ViewBag.Score / 100 поени</h2>
                <h4>
                    Ќе бидете пренасочени на почетната страница за <span id="countdown">5</span> секунди
                </h4>
                <!-- JavaScript part -->
                <script type="text/javascript">

    // Total seconds to wait
    var seconds = 5;

    function countdown() {
        seconds = seconds - 1;
        if (seconds < 0) {
            // Chnage your redirection link here
            window.location = "/";
        } else {
            // Update remaining seconds
            document.getElementById("countdown").innerHTML = seconds;
            // Count down using javascript
            window.setTimeout("countdown()", 1000);
        }
    }

    // Run countdown function
    countdown();

                </script>

}

